body{
    background: url('../img/background.jpg') no-repeat center top;
    background-size: cover;
    display: grid;
    grid-template-rows: 100px 700px 100px;
    color: rgb(9, 99, 99);
    align-items: center;
    padding: 0;
    font-family: sans-serif;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    grid-template-columns: 25% 75%;
    justify-content: flex-end;
    align-items: end;
}

a {
    width: 100px;
}

.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

main{
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: 25% 75%;
    justify-content: center;
    align-items: center;
}

/* Navegation styles starts */
.box1{
    width: 100%;
    height: 40%;
}

.form-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.form-container label{
    margin: 12px;
    padding: 12px;
    color: rgb(14, 1, 1);
    font-weight: bold;
    display: grid;
    align-content: start;
}

.form-container input{
    border: none;
    outline: none;
    width: 90%;
    height: 40px;
    position: relative;
    left: 12px;
    background: #82bfdb;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}

.form-container button{
    border: none;
    outline: none;
    width: 90%;
    height: 40px;
    position: relative;
    left: 12px;
    background: #82bfdb;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}

.main-section form {
    width: 100%;
    height: 100%;
    display: grid;
    background-color: rgba(255, 255, 255, 0.83);
    border-radius: 10px;
    align-content: center;
    justify-items: center;
}

.navegation-menu {
    text-align: center;
}

/* Navegation styles ends */

.main-section{
    background-color: rgba(255, 255, 255, 0.83);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 25% 75%;
    border-radius: 10px;

}

.sections{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
}

.logitos{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
    justify-content: end;
}

.div-logitos{
    display: flex;
    justify-content: end;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section .contenido{
    font-size: 75px;
}

.table{
    width: 100%;
    height: 500px;
    color: blueviolet;
    overflow-y: auto;
    overflow-x: auto;
}

table{
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    font-size: 15px;
    table-layout: fixed;
    border-collapse: collapse;
}

table th{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 15px;
    font-weight: 700;
    border-right: solid 1px #f152cf;
    border-left: solid 1px #f152cf;
    border-top: solid 1px #f152cf;
    border-bottom: solid 1px #f152cf;
    text-transform: uppercase;
    text-align: center;
}

.table td{
    padding: 15px;
    border-bottom: solid 1px #f152cf;
    border-right: solid 1px #f152cf;
    border-left: solid 1px #f152cf;
    border-top: solid 1px #f152cf;
    text-align: center;
}

.table td{
    cursor: pointer;
}

.table td:hover{
    background: rgb(216, 154, 213);
}

footer{
    font-size: 25px;
    color: #fff;
    display: grid;
    justify-content: end;
}

footer button{
    border: none;
    outline: none;
    width: 90%;
    height: 40px;
    position: relative;
    left: 12px;
    background: #82bfdb;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}

/****** MODAL *******/

.modal-container {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    opacity: 0.9;
    background: #222;
    z-index: 40000;
    top:0;
    left: 0;
    overflow: hidden;

    animation-name: fadeIn_Container;
    animation-duration: 1s;
}

.modal-change-status {
    display:none;
    top: 0;
    min-width: 250px;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    position: fixed;
    z-index: 40001;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    margin-top: 30px;
    margin-left: 10%;

    animation-name: fadeIn_Modal;
    animation-duration: 0.8s;
}

.modal-change-status .modal-header {
    width: 100%;
    height: 40px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 2px solid #ccc;
}

.modal-header a {
    width: auto;
    text-decoration: none;
    float: right;
    line-height: 40px;
    margin-right: 20px;
    color: #aaa;
}

.modal-content {
    width: 100%;
    height: 250px;
}

.modal-message {
    text-align: center;
    padding-top: 10%;
    font-size: 28px;
}

.modal-footer {
    width: 100%;
    height: 80px;
    border-radius: 0px 0px 10px 10px;
    border-top: 2px solid #ccc;
}

.modal-footer button {
    float: right;
    margin-right: 10px;
    margin-top: 18px;
    text-decoration: none; 
    height: 40px;
    background: #82bfdb;
    border-radius: 20px;
    cursor: pointer;
}

#cancel-modal {
    background: none;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 600px) {

    .modal-change-status {
        width: 500px;
        height: 300px;
        margin-left: calc(50vw - 250px);
        margin-top: calc(50vh - 150px);
    }

    .modal-header {
        width: 100%;
        height: 40px;
    }

    .modal-header a {
        width: auto;
        line-height: 40px;
        margin-right: 10px;
    }

    .modal-content {
        width: 100%;
        height: 190px;
    }

    .modal-footer {
        width: 100%;
        height: 70px;   
    }

    .modal-footer button {
        float: right;
        margin-right: 10px;
        margin-top: 10px;
    }

}

/*LARGE SCREEN*/
@media screen and (min-width: 1300px){

}

/*ANIMATIONS*/
@keyframes fadeIn_Modal {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeIn_Container {
    from{
        opacity: 0;
    }
    to{
        opacity: 0.9;
    }
}