<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Apartamento</title>
    <link rel="stylesheet" href="{% static 'css/apt-register.css' %}">
</head>
<body>
    <header>
        <h1></h1>
        <a href=""><img class="logo" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt=""></a>
    </header>
    <main>
        <div class="box1">
            <form action="/" class="form-container">
                <label for="navegation-menu">Menú de Navegación</label>
                <a href=""><button class="submit">Opcion 1</button></a>
                <a href=""><button class="submit">Opcion 2</button></a>
            </form>
        </div>
        <div class="main-section">
                <h2>Detalles del apartamento</h2>
                <form class="user-details" method="POST" action="">

                    <label for="direccion">Dirección</label>
                    <input id="direccion" type="text" name="direccion">

                    <label for="ciudad">Ciudad</label>
                    <input id="ciudad" type="text" name="ciudad">

                    <label for="unidad-residencial">Unidad Residencial</label>
                    <input id="unidad-residencial" type="text" name="unidad-residencial">

                    <label for="piso">Piso</label>
                    <input id="piso" type="text" name="piso">

                    <label for="numero-apartamento">Número de Apartamento</label>
                    <input id="numero-apartamento" type="text" name="numero-apartament">

                    <label for="numero-habitaciones">Número de Habitaciones</label>
                    <input id="numero-habitaciones" type="text" name="numero-habitaciones">

                    <label for="numero-banos">Número de Baños</label>
                    <input id="numero-banos" type="text" name="numero-banos">

                    <label for="precio-noche">Precio/noche</label>
                    <input id="precio-noche" type="text" name="precio-noche">

                    <input type="submit" value="Save">
                    {% csrf_token %}
                </form>
        </div>
    </main>
    <footer><a href=""><button>Log Out</button></a></footer>
</body>
</html>
